services:
  localstack:
    image: localstack/localstack
    container_name: localstack
    stop_grace_period: 1s
    ports:
      - "4566:4566"
    environment:
      SERVICES: secretsmanager
      DEBUG: 1

  anvil:
    image: ghcr.io/foundry-rs/foundry:latest
    container_name: anvil
    stop_grace_period: 1s
    ports:
      - "8545:8545"
    command: anvil
    environment:
      ANVIL_IP_ADDR: 0.0.0.0

  postgres:
    image: postgres:16
    container_name: postgres0
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

  oprf-key-gen0:
      # this tag/sha must match the versions of taceo crates in Cargo.toml
      image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:v1.0.0
      network_mode: "host"
      environment:
        OPRF_KEY_GEN_ENVIRONMENT: dev
        OPRF_KEY_GEN_BIND_ADDR: 0.0.0.0:20000
        OPRF_KEY_GEN_OPRF_KEY_REGISTRY_CONTRACT:
        OPRF_KEY_GEN_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
        OPRF_KEY_GEN_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n0
        OPRF_KEY_GEN_ZKEY_PATH: /app/OPRFKeyGen.13.arks.zkey
        OPRF_KEY_GEN_WITNESS_GRAPH_PATH: /app/OPRFKeyGenGraph.13.bin
        OPRF_KEY_GEN_TRANSACTION_CONFIRMATIONS: 1
        OPRF_KEY_GEN_DB_CONNECTION_STRING: postgres://postgres:postgres@localhost:5432/postgres
        OPRF_KEY_GEN_DB_SCHEMA: node0

  oprf-key-gen1:
      # this tag/sha must match the versions of taceo crates in Cargo.toml
      image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:v1.0.0
      network_mode: "host"
      environment:
        OPRF_KEY_GEN_ENVIRONMENT: dev
        OPRF_KEY_GEN_BIND_ADDR: 0.0.0.0:20001
        OPRF_KEY_GEN_OPRF_KEY_REGISTRY_CONTRACT:
        OPRF_KEY_GEN_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
        OPRF_KEY_GEN_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n1
        OPRF_KEY_GEN_ZKEY_PATH: /app/OPRFKeyGen.13.arks.zkey
        OPRF_KEY_GEN_WITNESS_GRAPH_PATH: /app/OPRFKeyGenGraph.13.bin
        OPRF_KEY_GEN_TRANSACTION_CONFIRMATIONS: 1
        OPRF_KEY_GEN_DB_CONNECTION_STRING: postgres://postgres:postgres@localhost:5432/postgres
        OPRF_KEY_GEN_DB_SCHEMA: node1

  oprf-key-gen2:
      # this tag/sha must match the versions of taceo crates in Cargo.toml
      image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:v1.0.0
      network_mode: "host"
      environment:
        OPRF_KEY_GEN_ENVIRONMENT: dev
        OPRF_KEY_GEN_BIND_ADDR: 0.0.0.0:20002
        OPRF_KEY_GEN_OPRF_KEY_REGISTRY_CONTRACT:
        OPRF_KEY_GEN_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
        OPRF_KEY_GEN_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n2
        OPRF_KEY_GEN_ZKEY_PATH: /app/OPRFKeyGen.13.arks.zkey
        OPRF_KEY_GEN_WITNESS_GRAPH_PATH: /app/OPRFKeyGenGraph.13.bin
        OPRF_KEY_GEN_TRANSACTION_CONFIRMATIONS: 1
        OPRF_KEY_GEN_DB_CONNECTION_STRING: postgres://postgres:postgres@localhost:5432/postgres
        OPRF_KEY_GEN_DB_SCHEMA: node2
