name: E2E Tests

on:
  push:
    branches:
      - main
    tags-ignore:
      - v*
  pull_request:

env:
  # incremental builds are slower and don't make much sense in ci
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  AWS_REGION: us-east-1
  AWS_ENDPOINT_URL: http://localhost:4566
  AWS_ACCESS_KEY_ID: test
  AWS_SECRET_ACCESS_KEY: test
  FOUNDRY_PROFILE: ci

jobs:
  e2e-test:
    name: Run E2E Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: foundry-rs/foundry-toolchain@v1
      - run: cd contracts && forge install && forge build
      - uses: Swatinem/rust-cache@v2
      - name: Run E2E Test
        run: bash run-setup.sh e2e-test
